 
# Flutter/Dart
*.g.dart
*.mocks.dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
# pubspec.lock  # Uncomment if you want to exclude; I recommend including it for Codemagic

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS
ios/.generated/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Pods/
ios/*.xcworkspace/

# Misc
*.log
.idea/  # If using Android Studio
.env  # If you have environment files with sensitive data

# FVM Version Cache
.fvm/